*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-image: linear-gradient(to right,#030627,#3c0753,#720455,#910a67);
}
nav{
    height: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
nav span:hover{
    color: rgb(175, 175, 175);
}

main{
    width: 100vh;
    height: 100vh;
}
img{
    height: 200px;
    width: 200px;
}
ul{
    list-style: none;
}
.informazioni,.skills,.progetti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    border: 1px solid black;
    border-radius: 24px;
    padding: 20px;
}

.skills{
    text-align: center;
}
.skills ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.progetti{
    text-align: center;
}
.progetti img{
    border-radius: 50%;
}
.progetti a{color: white;}

.progetti a:link{text-decoration: none;}

.gal-progetti{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.card-progetto{
    width: 300px;
    height: auto;
}
.informazioni{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.informazioni p{
    text-align: center;
}  
.informazioni span{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: color-change 1s infinite;
}
.informazioni img{
    border-radius: 50%;
    border: 1px solid white;
    float: left;
    margin-right: 20px;
}
@keyframes color-change {
    0%{color: grey;}
    25%{color: black;}
    50%{color:grey;}
    75%{color: white;}
    100%{color: grey;}
}

.visibile{
    visibility: visible;
}



@media screen and (max-width: 480px) {
    main {
        height: auto;
        width: auto;
    }
    .informazioni,.skills,.progetti{
        position:relative;
        top: 0;
        left: 0;
        transform: translate(0,0);
        border: 1px solid black;
        border-radius: 24px;
        padding: 10px;
        margin: 50px;
        visibility: visible;
    }  

    .skills ul,.gal-progetti{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    nav{
        position: absolute;
        visibility: hidden;
        flex-wrap: wrap;
    }

}
@media screen and (min-width: 480px) {
    main{
        width: auto;
        height: auto;
    }
    .informazioni,.skills,.progetti{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-35%);
        border: 1px solid black;
        border-radius: 24px;
        padding: 20px;
    }
}
